.contents
  .contents__header
    .contents__header--current-group
      %h2.current-group__name
        test
      %ul.current-group__list
        list: me you
    = link_to "Edit", "/groups/1/edit", class: 'btn btn-edit'
  .messages
    = render @messages
  .new-message
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask--image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden-image'
        = f.submit 'Send', class: 'form__submit','data-disable-with':false 
= render 'shared/side_bar'